<!-- <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <form [formGroup]="filterForm" (ngSubmit)="loadFilterEvent()">
            <div class="form-group">
                <label for="">Model</label>
                <input type="text" class="form-control" name="" id="" formControlName="model" aria-describedby="helpId"
                    placeholder="">
            </div>
            <div class="form-group">
                <label for="">Serial</label>
                <input type="text" class="form-control" name="" id="" formControlName="serial" aria-describedby="helpId"
                    placeholder="">
                
            </div>

          
            <button  type="submit">Filtrar</button>
        </form>
        
    </div>

</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Mode</th>
                    <th>Price</th>
                    <th>Serial</th>
                    <th>Status</th>
                    <th>Icon</th>
                    <th>Tipo Suspensión</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of bikesList">
                    <td>{{item.id}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.serial}}</td>
                    <td>
                        <p-inputSwitch (onChange)="changeStatus(item)" name="status" [(ngModel)]="item.status">
                        </p-inputSwitch>
                    </td>
                    <td>
                        <fa-icon icon="unlock" *ngIf="item.status"></fa-icon>
                        <fa-icon icon="lock" *ngIf="!item.status"></fa-icon>
                    </td>
                    <td>{{item.typeShockAbsorber}}</td>
                    <td>
                        <a *ngIf="item.status" [routerLink]="['../bikes/bikes-update',item.id]">Editar</a>
                    </td>
                </tr>
            </tbody>

        </table>

        <div class="row justify-content-center">
            <div class="col-lg-10">

                <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="loadingPagenation($event)">
                </p-paginator>
            </div>
        </div>
    </div>
</div>

-->

<h3>List </h3>
<div *ngIf="listCalled.length > 0">
    <div *ngFor="let item of listCalled">
        <p>{{item.dateCalled}}</p>
        <p>{{item.typeVerbalCalled}}</p>
        <p>{{item.phaseVerbalCalled}}</p>
    </div>
</div>